<div class="header header-logged-out">
  <div class="container clearfix">
    <%= link_to "WMS", root_path, class: "header-logo-wordmark" %>

    <ul class="top-nav">
      <li><%= link_to "Inbound", mer_inbound_commodities_path %></li>
      <li><%= link_to "Outbound", mer_waves_path %></li>
    </ul>

    <div class="header-actions">
      <%= link_to "Sign in", login_path, class:"button" %>
    </div>

  </div>
</div>
