<div class="menu-container">
  <ul class="menu">
    <li><a class="<%= request.path == "/wms/mer_inbound_commodities"? "active":"" %>" href="/wms/mer_inbound_commodities">Forecast Inbound</a></li>
    <li><a class="<%= request.path == "/styleguide/css/1.0"? "active":"" %>" href="/styleguide/css/1.0">Buttons</a></li>
  </ul>
</div>