<div class="menu-container">
  <ul class="menu">
    <li><a class="<%= request.path.start_with?('/wms/depots')? "active":"" %>" href="/wms/depots/show">Depot Configuration</a></li>
    <li><a href="#">Add User</a></li>
  </ul>
</div>