<div class="menu-container">
  <ul class="menu">
    <li><a class="<%= request.path == '/wms/mer_waves/seeding_tasks' ? "active":"" %>" href="/wms/mer_waves/seeding_tasks">Seeding Tasks</a></li>
    <li><a class="<%= request.path == '/wms/mer_waves/picking_tasks' ? "active":"" %>" href="/wms/mer_waves/picking_tasks">Picking Tasks</a></li>
    <li><a class="<%= request.path.start_with?('/wms/mer_outbound_orders')? "active":"" %>" href="/wms/mer_outbound_orders">Forecast Outbound</a></li>
    <li><a href="#">Actual Outbound</a></li>
    <li><a href="#">Work Statistics</a></li>
  </ul>
</div>