<% content_for :content do %>
  <div class="container inbound">
    <div class="left-col ">
      <%= render 'shared/management_aside' %>
    </div>
    <div class="inbound-content">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/wms/application' %>