<div class="container">
  <h1 class="welcome">welcome to use the WMS !</h1>
    <div class="img">
    	<img style="float:left;" src="/assets/wms/ck1.png" width="22%">
        <img style="float:left;" src="/assets/wms/ck2.png" width="22%">
        <img style="float:left;" src="/assets/wms/ck3.png" width="25%">
    </div>
</div>